.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.skillList img  {
  width: 20px;
}

.skillList {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  flex-wrap: wrap;
  row-gap: 40px;
  max-width: 26ch;
}

hr {
  width: 100px;
  height: 1px;
  border: none;
  background-color: var(--text-color);
  margin: 30px auto;
}

/* Media query for mobile view */
@media (max-width: 800px) {
  .skillList {
    display: flex;
    flex-direction: column; /* Align items in a column */
    align-items: flex-start; /* Left-align the items */
    gap: 20px;               /* Gap between items */
    padding-left: 20px;      /* Add padding for spacing from the edge */
  }

  hr {
    width: 300px;
  }
}

/* Media query for larger screens */
@media (min-width: 800px) {
  .skillList {
    max-width: fit-content;
    gap: 30px;
    flex-direction: row;   /* Keep it in row for larger screens */
  }

  hr {
    width: 300px;
  }

  p {
    font-size: 20px;
  }
}
